<% include partials/header %>
   <main class="main-content">
     <div class="hero">
       <div class="container">
         <div class="row">
             <h2 class="hero-title">Bienvenue sur E-CORP</h2>
             <p>Offre de bienvenue jusqu'à 150 €offerts</p>
          </div>
         </div>
       </div>
     </div>
   </main> <!-- .main-content -->

<% include partials/footer %>
