<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>E-corp</title>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Latest compiled and minified CSS -->
  <!-- Loading third party fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css">
  <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Loading main css file -->


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link href="jquery.dataTables.min.css" rel="stylesheet" type="text/css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <link rel="stylesheet" href="../style.css">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed">

    <div class="container-fluid">
      <% if (userLogged) { %>
        <a href="/" style="float:left"><h1>E-CORP</h1></a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/transactions">Mes transactions</a></li>
          <li><a href="/transactions/add">Effectuer une transaction</a></li>
          <li><a href="/users/me">Mon compte</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <%}%>
      </div>
    </nav>
<main class="main-content">
  <div class="hero">
    <div class="container">
      <div class="row">
        <h1>Effectuer un virement/remboursement</h1> <hr/>
        <div class="col-md-5 col-md-offset-1">
          <div class="request-form">

            <p></p>
            <form method="post" action="/transactions" class="form-horizental">
              <select name="type">
                <option value="1">
                  Virement
                </option>
                <option value="3">
                  Remboursement
                </option>
              </select>
              <input type="hidden" name="payer" value="<%= account.account_nb%>" />
              <input type="hidden" name="status" value="2" />

              <input type="text" name="amount" required pattern="[0-0+(\.[0-9]{0,2})]" placeholder="Montant" title="Le montant doit être de la forme 10.00" />
              <input type="text" name="message" placeholder="Message" />

              <input type="text" name="beneficiary" required placeholder="n° compte bénéficiaire" />
              <input type="password" name="token" required placeholder="Token de sécurité pour éffectuer le virement" />

              <input type="submit" value="Effectuer la transaction" class="button" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
<div class="container">
  <p class="copy">Copyright 2017 e-corp.</p>
</div> <!-- .container -->
</footer>
