<% include partials/header %>
   <h1>Compte créé pour <%=user.firstname%> <%=user.lastname%></h1>
   <p>
     150€ ont été ajouté sur votre compte comme offre de bienvenue !
   </p>
   <hr/>
   <a href='/login'>Se connecter</a>
<% include partials/footer %>
